@use "../../styles/variables.scss";

.douai_collectif {
  margin-top: calc(var(--vRhythm) * -1);
  margin-bottom: var(--vRhythm);
  padding: calc(var(--vRhythm) / 2) var(--gutter);
  background-color: var(--lightgrey);
}
.douai_collectif img {
  display: block;
  margin: 0 auto;
  width: calc(var(--vRhythm) * 7);
  height: calc(var(--vRhythm) * 7);
}
.douai_collectif_h2 {
  text-align: center;
}
.douai_collectif_p {
  text-align: right;
}

.signature {
  height: calc(var(--vRhythm) * 3);
  text-align: center;
}
.signature img {
  height: calc(var(--vRhythm) * 3);
  width: auto;
}
@media screen and (min-width: variables.$CSS_BREAKPOINT_START_L) {
  .content {
    flex-direction: row;
  }
  .douai_collectif img {
    float: left;
    margin: 0 var(--gutter) 0 0;
  }
  .douai_collectif_h2 {
    text-align: left;
  }
}
@media print {
  .toots {
    display: none;
  }
}
