.root small {
  display: inline;
  position: relative;
  width: 0;
  height: 0;
  line-height: inherit;
  font-weight: bold;
  top: 0;
  left: 0;
}
a.icon {
  display: none;
  position: absolute;
  top: 0;
  left: calc(var(--gutter) * -1);
  width: var(--gutter);
  min-height: calc(var(--vRhythm) * 1);
  line-height: inherit;
  background: var(--primary);
  mask-repeat: no-repeat;
  mask-position: left center;
  -webkit-mask-size: calc(var(--vRhythm) * 1);
  mask-size: calc(var(--vRhythm) * 1);
}
.root:hover a.icon {
  display: inline-block;
  mask-image: url("/images/icons/link.svg");
  background: var(--primary);
}
a.icon:target {
  display: inline-block;
  mask-image: url("/images/icons/target.svg");
}
a.icon span {
  display: none;
}
