.root {
  font-family: var(--headingFont);
  font-size: var(--greatFontSize);
  line-height: var(--greatLineHeight);
  text-decoration: underline;
  font-weight: normal;
  margin: var(--vRythm) 0 0 0;
}
