@use "../../styles/variables.scss";

.root {
  clear: both;
  display: flex;
  background: var(--secondary);
  padding: calc(var(--vRhythm) / 2) calc(var(--gutter) / 2);
  margin: var(--vRhythm) 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.root .picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* For mobile device we forget layout shift
        since what we want is the biggest image size possible */
.root img {
  max-width: 100%;
  max-height: 100%;
}
/* For other screens we take care of the image
        orientation and build boxes that respect the
        vertical rythm and horizontal dimensions of the
        layout avoiding layout shifting */
@media screen and (min-width: variables.$CSS_BREAKPOINT_START_L) {
  .root.left {
    float: left;
    margin: 0 var(--gutter) var(--vRhythm) 0;
    max-width: calc(calc(var(--column) * 4) + calc(var(--gutter) * 5));
  }
  .root.right {
    float: right;
    margin: 0 0 var(--vRhythm) var(--gutter);
    max-width: calc(calc(var(--column) * 4) + calc(var(--gutter) * 5));
  }
  .root.left .picture,
  .root.right .picture {
    width: calc(calc(var(--column) * 4) + calc(var(--gutter) * 3));
    height: calc(var(--vRhythm) * 14);
  }
  .root.left.landscape .picture,
  .root.right.landscape .picture {
    height: calc(var(--vRhythm) * 11);
  }
  .root.left.portrait .picture,
  .root.right.portrait .picture {
    height: calc(var(--vRhythm) * 19);
  }
}

.alt {
  display: block;
  background: var(--primary);
  color: var(--light);
  margin: 0;
  padding: calc(var(--vRhythm) / 2) calc(var(--gutter) / 2);
  width: auto;
  max-width: calc(100% - var(--gutter));
  font-size: var(--smallFontSize);
}
