@import "../../styles/variables.scss";

.root {
  background-color: var(--primary);
}
.root nav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.root nav a,
.root nav a:visited {
  display: block;
  color: var(--light);
  font-size: var(--bigFontSize);
  line-height: var(--bigLineHeight);
  text-decoration: none;
  transition: background-color var(--baseAnimationRate),
    color var(--baseAnimationRate);
}
.root nav a:hover {
  color: var(--primary);
  background-color: var(--light);
  text-decoration: underline;
}
.root nav a.selected {
  text-decoration: underline;
  color: var(--secondary-darker);
}
.root nav a.newsletter {
  background-color: var(--quaternary);
  color: var(--light);
}
.root nav span {
  display: block;
  padding: calc(var(--vRhythm) / 2) var(--gutter);
}
@media screen and (max-width: $CSS_BREAKPOINT_END_S) {
  .root nav {
    width: 100%;
  }
}
@media screen and (min-width: $CSS_BREAKPOINT_START_M) and (max-width: $CSS_BREAKPOINT_END_M) {
  .root nav {
    width: calc(calc(var(--block) * 2) + calc(var(--gutter) * 3));
  }
}
@media screen and (min-width: $CSS_BREAKPOINT_START_L) {
  .root nav {
    flex-direction: row;
    width: calc(calc(var(--block) * 3) + calc(var(--gutter) * 4));
  }
  .newsletter span {
    width: calc(var(--vRhythm));
    background: var(--light);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: calc(var(--vRhythm));
    mask-image: url("/images/icons/mail.svg");
  }
}
@media screen and (min-width: $CSS_BREAKPOINT_START_XL) {
  .root nav {
    width: calc(calc(var(--block) * 4) + calc(var(--gutter) * 5));
  }
}
@media print {
  .root {
    display: none;
  }
}
