@use "../../styles/variables.scss";

.popin {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all calc(var(--baseAnimationRate) * 2) ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--vRhythm);
}
.popin.visible {
  visibility: visible;
  opacity: 1;
}
.popin.hidden {
  visibility: hidden;
  opacity: 0;
}
.content {
  background: var(--light);
  color: var(--dark);
  padding: var(--vRhythm) calc(var(--gutter) * 2);
  min-height: var(--vRhythm);
  border-radius: var(--borderRadius);
}
@media screen and (max-width: variables.$CSS_BREAKPOINT_END_S) {
  .popin {
    padding: 0;
    justify-content: stretch;
    align-items: flex-end;
  }
  .content {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: variables.$CSS_BREAKPOINT_START_L) {
  .content {
    width: calc(calc(var(--block) * 2) + calc(var(--gutter) * 3));
    padding: var(--vRhythm) calc(var(--gutter) * 2);
  }
}
