@import "../../styles/variables.scss";

span.icon {
  display: inline-block;
  height: var(--vRhythm);
  width: calc(var(--vRhythm) * 0.6);
  background: var(--dark);
  mask-repeat: no-repeat;
  mask-size: calc(var(--vRhythm) * 0.6);
  -webkit-mask-size: calc(var(--vRhythm) * 0.6);
  mask-position: left bottom;
  mask-image: url("/images/icons/twitter.svg");
}
span.icon.facebook {
  mask-image: url("/images/icons/facebook.svg");
}
span.icon.mail {
  mask-image: url("/images/icons/mail.svg");
}
@media print {
  .root {
    display: none;
  }
}
